html,body{
	font-family:Arial;
	color:black;
}
.navigation{
	width:100%;
	height: 6vh;
  box-shadow: 0.1em 0.2em 0.1em gray;
}
.navigation .navigation-list{
	display:flex;
	flex-direction:row;
	list-style-type:none;
	justify-content:flex-end;
}
.navigation .navigation-list .navigation-list__item{
	padding-right:1em;
	text-decoration:none;
	text-transform:uppercase;
}
.navigation .navigation-list .navigation-list__item:hover{
	color:#2A9D8F;
	text-decoration:underline;
}
.heading{
	width:100%;
	height:93vh;
	background:url('../images/background.png') no-repeat center;
  background-size:cover;
	display:flex;
	flex-direction:column;
}
.heading .heading__title{
  margin:16vh auto;
	font-size:2.4rem;
	text-transform:uppercase;
	color:white;
	z-index:1;
}
.heading .heading__text{
	margin:0 auto;
	font-size:1.7rem;
	text-transform:uppercase;
	color:white;
	z-index:1;
}
.heading .bg-layout-dark{
	width:inherit;
	height:inherit;
	background:rgba(0, 0, 0, 0.31);
	position:absolute;
}
.popular-posts{
	width:100%;
	height:75vh;
}
.popular-posts .popular-posts__title{
	text-align:center;
	font-size:2rem;
	text-transform:uppercase;
	padding-top:0.8em;
}
.popular-posts .posts-container{
	display:flex;
	width:100%;
  max-height:65vh;
	justify-content:space-around;
	padding-top:2em;
}
.popular-posts .posts-container .post-box{
	background:#4d908e;
	color:white;
	border-radius:0.2em;
	max-height:58vh;
	width:20vw;
	box-shadow:0.1em 0.2em 0.1em black;
}
.popular-posts .posts-container .post-box__title{
	font-size:1.4rem;
	text-align:center;
	font-weight:bolder;
}
.popular-posts .posts-container .post-box__description{
	font-size:1rem;
	padding:0.9em;
}
.popular-posts .posts-container .post-box__button{
	display:block;
	width:9vw;
	height:5vh;
	background:#9e0059;
	color:white;
	text-transform:uppercase;
	font-size:0.9rem;
	text-decoration:none;
	text-align:center;
	border-radius:0.2em;
	margin:2vh auto;
	line-height:2.6em;
	font-weight:bolder;
}
.popular-posts .posts-container .post-box__button:hover{
	background:#fb5607;
	cursor:pointer;
}
.newest-posts{
	width:100%;
	height:75vh;
	background:#bfc0c0;
}
.newest-posts .newest-posts__title{
	text-align:center;
	font-size:2rem;
	text-transform:uppercase;
	padding-top:1em;
}
.newest-posts .posts-container{
	display:flex;
	width:100%;
  max-height:65vh;
	justify-content:space-around;
	padding-top:0.2em;
}
.newest-posts .posts-container .post-box{
	background:#9e0059;
	color:white;
	border-radius:0.2em;
	max-height:58vh;
	width:20vw;
	box-shadow:0.1em 0.2em 0.1em black;
	padding-bottom:2em;
}
.newest-posts .posts-container .post-box__title{
	font-size:1.4rem;
	text-align:center;
	font-weight:bolder;
}
.newest-posts .posts-container .post-box__description{
	font-size:1.1rem;
	padding:0.6em;
}
.newest-posts .posts-container .post-box__button{
	display:block;
	width:9vw;
	height:5vh;
	background:#06d6a0;
	color:white;
	text-transform:uppercase;
	font-size:0.9rem;
	text-decoration:none;
	text-align:center;
	border-radius:0.2em;
	margin:0 auto;
	line-height:2.6em;
	font-weight:bolder;
}
.newest-posts .posts-container .post-box__button:hover{
	background:#2176ff;
	cursor:pointer;
}
.footer{
	width:100%;
	height:13vh;
	background:black;
	color:white;
	display:flex;
	margin:0;
}
.footer .list-nav-links{
	list-style-type:none;
	width:100%;
}
.footer .list-nav-links .list-nav-links__item{
	text-decoration:none;
	font-size:1rem;
	font-weight:bolder;
  color:white;
	margin-top:0.7em;
	margin-bottom:1em;
	text-transform:uppercase;
}
.footer .list-nav-links .list-nav-links__item:hover{
	color:#219ebc;
	text-decoration:underline;
	text-decoration-color:white;
}
.footer .list-links{
	list-style-type:none;
	width:100%;
}
.footer .list-links .list-links__item{
	text-decoration:none;
	font-size:1rem;
	font-weight:bolder;
  color:white;
	margin-top:0.7em;
	margin-bottom:1em;
	text-transform:uppercase;
}
.footer .list-links .list-links__item:hover{
	color:#219ebc;
	text-decoration:underline;
	text-decoration-color:white;
}
.footer .footer__author{
	width:100%;
}
.signup{
	width:100%;
	height:95vh;
	background:url('../images/background.png')no-repeat center;
	background-size:cover;
}
.signup .signup__title{
	width:100%;
	height:5vh;
	text-align:center;
	text-transform:uppercase;
	font-size:2.4rem;
	margin:0;
	padding-top:1em;
}
.signup .signup-form{
	max-width:26%;
	background:#023047;
	border-radius:0.2em;
	height:65vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
	padding:2em;
}
.signup .signup-form .signup-form__label{
	color:white;
	font-size:1.3rem;
	font-weight:bolder;
	margin-top:0.5em;
	text-transform:uppercase;
}
.signup .signup-form .signup-form__input{
  border:none;
	background:none;
	border-radius:none;
	border-bottom:0.1em solid #06d6a0;
	padding-top:1em;
}
.signup .signup-form .signup-form__input:focus{
	outline:none;
  border-bottom:0.1em solid #f15bb5;
}
.signup .signup-form .signup-form__input::placeholder{
	color:white;
	font-weight:bolder;
}
.signup .signup-form .signup-form__button{
	background:#ff9914;
	border:none;
	width:10vw;
	height:5vh;
	border-radius:0.2em;
	margin:1em auto;
	color:white;
	font-weight:bolder;
	text-transform:uppercase;
}
.signup .signup-form .signup-form__button:hover{
	cursor:pointer;
	background:#29bf12;
}
.login{
	width:100%;
	height:95vh;
	background:url('../images/background.png')no-repeat center;
	background-size:cover;
	display:none;
}
.login .login__title{
	width:100%;
	height:5vh;
	text-align:center;
	text-transform:uppercase;
	font-size:2.4rem;
	margin:0;
	padding-top:1em;
}
.login .login-form{
	max-width:26%;
	background:#023047;
	border-radius:0.2em;
	height:65vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
	padding:2em;
}
.login .login-form .login-form__label{
	color:white;
	font-size:1.3rem;
	font-weight:bolder;
	margin-top:0.5em;
	text-transform:uppercase;
}
.login .login-form .login-form__input{
  border:none;
	background:none;
	border-radius:none;
	border-bottom:0.1em solid #06d6a0;
	padding-top:1em;
}
.login .login-form .login-form__input:focus{
	outline:none;
  border-bottom:0.1em solid #f15bb5;
}
.login .login-form .login-form__input::placeholder{
	color:white;
	font-weight:bolder;
}
.login .login-form .login-form__button{
	background:#ff9914;
	border:none;
	width:10vw;
	height:5vh;
	border-radius:0.2em;
	margin:1em auto;
	color:white;
	font-weight:bolder;
	text-transform:uppercase;
}
.login .login-form .login-form__button:hover{
	cursor:pointer;
	background:#29bf12;
}
.news-feed{
	width:100%;
	height:auto;
	background:#fffcf2;
}
.news-feed .news-feed__title{
	width:100%;
	margin:0;
	text-transform:uppercase;
	font-size:2.3rem;
	padding-top:1em;
	text-align:center;
	height:5vh;
}
.news-feed .news-feed__text{
  width:100%;
	height:4vh;
	text-transform:uppercase;
	font-size:1.2rem;
	padding-top:1em;
	text-align:center;
}
.news-feed .news-feed-form-block{
	width:100%;
	height:20vh;
}
.news-feed .news-feed-form{
  width:100%;
	height:inherit;
	display:flex;
	flex-direction:column;
}
.news-feed .news-feed-form .news-feed-form__input{
	border:0.1em solid black;
	width:50%;
	margin:0 auto;
	border-radius:0.2em;
}
.news-feed .news-feed-form .news-feed-form__input:focus{
	outline:none;
  border:0.1em solid #4361ee;
}
.news-feed .news-feed-form .news-feed-form__input::placeholder{
	color:black;
}
.news-feed .news-feed-form .news-feed-form__button{
	background:#f21b3f;
	border:none;
	width:10vw;
	height:5vh;
	border-radius:0.2em;
	margin:1em auto;
	color:white;
	font-weight:bolder;
	text-transform:uppercase;
}
.news-feed .news-feed-form .news-feed-form__button:hover{
	cursor:pointer;
	background:#29bf12;
}
.posts-scrolling{
	width:100%;
	height:auto;
	background:#4895ef85;
	margin-top:1vh;
}
.user-post{
	max-width:50%;
	margin:0 auto;
	height:auto;
  background:white;
	border-radius:0.4em;
}
.user-post .post-heading{
	width:100%;
	max-height:18vh;
}
.user-post .post-heading .post-heading__title{
	font-size:1.7rem;
	text-align:center;
	width:100%;
	max-height:10vh;
	padding-top:1em;
}
.user-post .post-heading .post-heading-information{
	display:flex;
	width:100%;
	max-height:inherit;
	justify-content:space-around;
}
.user-post .post-heading .post-heading-information .post-heading-information__profile-pic{
	max-width:15vw;
	max-height:10vh;
	border-radius:50%;
}
.user-post .post-heading .post-heading-information .post-heading__author{
	font-size:1rem;
	font-weight:bolder;
}
.user-post .post-heading .post-heading-information .post-heading__time{
	font-size:0.8rem;
	font-weight:bolder;
	padding-top:0.7em;
}
.user-post .post-body{
	max-width:100%;
	height:auto;
	font-size:1.1rem;
	padding:1em;
}
.user-post .fa-comments{
	font-size:1.3rem;
	color:#f21b3f;
	padding:1em;
}
.user-post .fa-comments:hover{
  cursor:pointer;
	color:#38a3a5;
}
.user-post .comment-section{
	max-width:100%;
	height:auto;
	font-size:1.1rem;
	padding:1em;
	border-top:0.1em solid black;
}
.user-post .comment-section .comment-section__title{
	font-size:1.2rem;
	font-weight:bolder;

}
.user-post .comment-section .comments-block{
	border:0.1em solid black;
	border-radius:0.2em;
	margin-top:1em;
	margin-bottom:1em;
	padding:1em;
}
.user-post .comment-section .comments-block .comments-author{
	display:flex;
	width:100%;
	height:6vh;
	justify-content:space-between;
}
.user-post .comment-section .comments-block .comments-author__profile-pic{
	border-radius:50%;
	max-width:6vw;
	max-height:6vh;
}
.user-post .comment-section .comments-block .comments-author__author{
	font-size:0.9rem;
	font-weight:bolder;
}
.user-post .comment-section .comments-block .comments-author__time{
	font-size:0.8rem;
	font-weight:bolder;
}
.user-post .comment-section .comment-section-form{
	max-width:100;
	height:auto;
	display:flex;
	flex-direction:column;
	border-top:0.1em solid black;
}
.user-post .comment-section .comment-section-form .comment-section-form__input{
	border:0.1em solid black;
	width:100%;
	margin:1vh auto;
	border-radius:0.2em;
}
.user-post .comment-section .comment-section-form .comment-section-form__input:focus{
	outline:none;
  border:0.1em solid #4361ee;
}
.user-post .comment-section .comment-section-form .comment-section-form__button{
	background:#f21b3f;
	border:none;
	width:10vw;
	height:5vh;
	border-radius:0.2em;
	margin:1em auto;
	color:white;
	font-weight:bolder;
	text-transform:uppercase;
}
.user-post .comment-section .comment-section-form .comment-section-form__button:hover{
	cursor:pointer;
	background:#29bf12;
}
.profile{
	width:100%;
	height:auto;
}
.profile .profile__title{
	width:100%;
	margin:0;
	text-transform:uppercase;
	font-size:2rem;
	padding-top:1em;
	text-align:center;
	height:5vh;
}
.profile .profile-statistics{
	width:100%;
	max-height:20vh;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.profile .profile-statistics .profile-statistics__profile-pic{
	max-width:13vh;
	max-height:13vh;
	border-radius:50%;
}
.profile .profile-statistics .profile-statistics__count{
	max-width:100%;
	font-size:1.2rem;
	font-weight:bolder;
}
.profile .profile-form-block{
	width:100%;
	height:20vh;
}
.profile .profile-form-block .profile-form{
	width:100%;
	height:inherit;
	display:flex;
	flex-direction:column;
}
.profile .profile-form-block .profile-form .profile-form__input{
	border:0.1em solid black;
	width:50%;
	margin:0 auto;
	border-radius:0.2em;
}
.profile .profile-form-block .profile-form .profile-form__input:focus{
	outline:none;
  border:0.1em solid #4361ee;
}
.profile .profile-form-block .profile-form .profile-form__button{
	background:#f21b3f;
	border:none;
	width:10vw;
	height:5vh;
	border-radius:0.2em;
	margin:1em auto;
	color:white;
	font-weight:bolder;
	text-transform:uppercase;
}
.profile .profile-form-block .profile-form .profile-form__button:hover{
	cursor:pointer;
	background:#29bf12;
}
